if (!params.skip_nextclade) {
    process {

        withName: 'NEXTCLADE_DATASETGET' {
            publishDir = [
                path: { "${params.outdir}/genome" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NEXTCLADE_RUN' {
            publishDir = [
                path: { "${params.outdir}/nextclade" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith(".csv") && !filename.endsWith("errors.csv") && !filename.endsWith("insertions.csv") ? filename : null }
            ]
        }

    }
}